<div class="container">
  <%= form_for @post, html: { multipart: true } do |f| %>

    <%= f.file_field :post_img %><br />

    <%= f.label :caption %><br />
    <%= f.text_field :caption, class: "form-control" %><br />

    <%= f.label :tag %>
   <p>#<%= f.text_field :tag, class: "form-control" %><br /></p>

    <%= f.label :location %><br />
    <%= f.text_field :location, class: "form-control" %><br />

    <%= f.submit %>
    
  <% end %>

</div>
