<div class="container">

  <div class="row">
    <div class="col-md-12">

      <%= image_tag @post.post_img.url(:medium), class: "photo img-responsive img-rounded" %>

    </div>
  </div>

  <div class="row">
    <div class="col-md-12">

      <p class="well text-center caption"><%= @post.caption %></p>
      <p class="text-right user-name">Poster: <%= link_to @post.user.name, user_path(@post.user) %></p>

    </div>
  </div>

  <div class="row">
    <div class="col-sm-6 text-center">

      <p>#<%= link_to @post.tag.name, tag_path(@post.tag_id) %></p>
    </div>

    <div class="col-sm-6 text-center">

      <p>Location: <%= link_to @post.location.name, location_path(@post.location_id) %>
      </p>
      <% if logged_in? && @post.user_id == current_user.id %>
        <%= button_to "Edit Post", edit_post_path(@post), :method => "get", class: "btn btn-primary b-margin" %>
      <% end %>
    </div>
  </div>
  
  <p>Number of likes: <%= @post.count_likes %></p>

  <p>Comments:</p>
  <ul>
    <% @reviews.each do |rev| %>
      <li><%= rev.user.name %> - <%= rev.comment %></li>
      <% if logged_in? && rev.user_id == current_user.id %>
    <%= button_to "Edit Comment", edit_post_review_path(rev.user,rev), :method => "get", class: "btn btn-primary b-margin" %>
     <%= link_to "Delete", [@post, rev], :method  => :delete, class: "btn btn-danger b-margin" %>
      <% end %>
    <% end %>
  </ul>

  <% if logged_in? %>
    <%= render 'reviews/form' %>
  <% end %>

</div>