<div class="container">
  
  <%= form_for ([@post, @post.reviews.build]), html: { multipart: true } do |f| %>

    <div>
      <%= f.label :like %>
      <%= f.check_box :like %><br />
    </div>

    <%= f.label :comment %><br />
    <%= f.text_field :comment, class: "form-control" %><br />
  
    <%= f.submit %>

  <% end %>

</div>

